/*--------------------------------------------------------------
Search On Menu Bar
--------------------------------------------------------------*/

@media only screen and (max-width: 1180px){
  #main-menu{
      margin-left: 24% !important;
  }
}
@media only screen and (max-width: 912px){
  #main-menu{
      margin-left: 20% !important;
      
  }
}
@media only screen and (max-width: 912px){
  #main-menu{
      margin-left: 15% !important;
      font-size: 15px;
  }
}
@media only screen and (min-width: 1180px){
  #main-menu {
      /*margin-left: 32% !important;*/
  }
}
@media (max-width: 1200px){
  
  .search-widget-space-fix{
      width: 90%;
  }
}
@media (max-width: 1095px){
  
  .search-widget-space-fix{
      width: 100%;
      margin: 0 !important;
  }
}
.search-field{
background-color: #f5f5f5;
color: black;
background-size: 24px 24px;
border: none;
cursor: pointer;
height: 37px;
margin: 3px 0;
-webkit-transition: width 400ms ease, background 400ms ease;
transition:         width 400ms ease, background 400ms ease;
width: 0px !important;
}

.search-field:focus {
background-color: #fff;
border: 2px solid black;
cursor: text;
width: 230px !important;
}
.search-form:after{
  pointer-events: none !important; 
position: relative;
right: 35px;
font-size:18px;
top: 3px;
}
.search-form > label{
display: inline;
}
.search-form button[type="submit"]{
display:none;
}
.search-form label .search-field {
  padding: 0 25px 0 15px;
}

/*** Search Click ***/
#main-menu .header-widgetised-area {
  text-align: right !important;
}

.actionSearch .search-form:after {
  position: absolute;
  right: 0px;
 font-size: 18px;
  top: 3px;
  color: #1e497b !important;
}
.actionSearch .search-form  {
  width: 100%;
}
.actionSearch .search-form label {
 width: 100%;
  margin-bottom: 0;
}
.actionSearch .search-form label .search-field {
   max-width: 100%; 
  width: 100% !important;
}
.actionSearch.header-widgetised-area .widget {
  width: 100%;
}
.actionSearch .search-form{
  max-width: 100%;
  max-width: 767px;
}
.actionSearch.header-widgetised-area {
  float: right;
  margin: 7.5px 0 7.5px 20px;
  text-align: left;
  width: 85%;
  width: 700px;
}
#menu-primary-menu {
  opacity: 0.1;
  display: none;
}
.makeOpacitynone {
  opacity: 0.1;
  display: none !important;
}

@media only screen and (max-width: 1100px) and (min-width: 992px){
  .actionSearch.header-widgetised-area {
    width: 667px;
  }
}
@media only screen and (max-width: 991px){
  .actionSearch.header-widgetised-area {
    width: 530px;
  }
}

@media only screen and (max-width: 767px){
  .search-field {
    width: 70% !important;
  }
  .search-form input[type="submit"], .search-form button[type="submit"] {
    padding: 15px;
    display: inline-block;
  }
  .search-field:focus {
    background-color: #fff;
    border: 2px solid black;
    cursor: text;
    width: 180px !important;
  }
  input.search-field::placeholder {
    color: rgba(0, 0, 0, 0);
  }
}
